.search-engine section{
    width: 100fr;
    height: 100fr;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
.search-engine input section{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius:  8px;
    padding: 13px 15px;
    font-size: 16px;
    outline: none;
    margin-left: 5px;
    background-color: #ffffff;
    color: #5f5e5e55;
}

 .search-engine button section {
    border: none;
    border-radius:  8px;
    padding: 12px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: #31b5e9;
}

#search-icon{
    color: rgb(65, 225, 86);
}